<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">

    <h2 class="main-menu">Add a new task</h2>

    <form th:action="@{/task/new}" th:object="${task}" method="post" class="new-task-form">

        <th>
            <select id="changeOnType" th:field="*{type}">
                <option disabled="true" value="default">Select type</option>
                <option value="reminder">Reminder</option>
                <option value="meeting">Meeting</option>
                <option value="reservation">Reserve time</option>
            </select>
        </th>

        <input type="text" class="new-post-title" th:field="*{name}" th:placeholder="#{task.name}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></div>

        <input type="text" class="new-post-title" th:field="*{startTime}" th:placeholder="#{task.starttime}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('startTime')}" class="error-message" th:errors="*{startTime}"></div>

        <input type="text" class="new-post-title" th:field="*{duration}" th:placeholder="#{task.duration}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('duration')}" class="error-message" th:errors="*{duration}"></div>


        <div id="location">
        <input type="text" class="new-post-title" th:field="*{location}" th:placeholder="#{task.location}" th:errorclass="field-error"/>
        </div>

        <div class = "menu-button">
            <input type="submit" class="new-post-submit" th:value="#{task.save}"/>
        </div>

        <div class="menu-button">
            <a th:href="@{/}" th:text="#{home.back}">Back to Main Menu</a>
        </div>

    </form>
</div>
</body>
</html>