<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">

    <h2 class="main-menu">Update a task</h2>

    <th th:text="${taskID}">TYPE</th>

    <form th:action="@{/task/update/{id}/{type} (id=${task.id}, type=${task.type})}" th:object="${task}" method="post" class="new-task-form">

        <input type="text" class="new-post-title" th:field="*{type}" th:placeholder="${task.type}" th:errorclass="field-error" disabled="true"/>
        <div th:if="${#fields.hasErrors('type')}" class="error-message" th:errors="*{type}"></div>

        <input type="text" class="new-post-title" th:field="*{name}" th:placeholder="#{newtask.name}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></div>

        <input type="text" class="new-post-title" th:field="*{startTime}" th:placeholder="#{newtask.starttime}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('startTime')}" class="error-message" th:errors="*{startTime}"></div>

        <input type="text" class="new-post-title" th:field="*{duration}" th:placeholder="#{newtask.duration}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('duration')}" class="error-message" th:errors="*{duration}"></div>


        <div id="location">
            <input type="text" class="new-post-title" th:field="*{location}" th:placeholder="#{newtask.location}" th:errorclass="field-error"/>
        </div>

        <div class = "menu-button">
            <input type="submit" class="new-post-submit" th:value="#{task.save}"/>
        </div>

        <div class="menu-button">
            <a th:href="@{/task/updateDelete}" th:text="#{home.back}">Back to Main Menu</a>
        </div>

    </form>
</div>
</body>
</html>