<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">

<h1 class="main-menu">MENU</h1>
<h2 class="main-menu">Please choose</h2>

    <div class="menu-button">
        <a th:href="@{/task/new}" th:text="#{home.addTask}">Add a task</a>
    </div>

    <div class="menu-button">
        <a th:href="@{/task/viewTasks/{sort} (sort='id') }" th:text="#{home.viewTasks}">View all tasks</a>
    </div>

    <div class="menu-button">
        <a th:href="@{/task/updateDelete }" th:text="#{home.updateOrDelete}">Update/Delete a task</a>
    </div>

</div>
</body>
</html>