<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{application.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<script th:inline="javascript">
    $(function () {
        $("#changeOnType").change(function() {
            var val = $(this).val();
            if(val === "meeting")
            {
                $("#location").show();
            }
            else {
                $("#location").hide();
            };
        })
    });
</script>

<div class="container">
    <div th:text="#{application.headerText}" class="header-block">test header</div>

    <div class="content">
        <div layout:fragment="content"></div>
    </div>

    <div th:text="#{application.copyright}" class="footer-block">test footer</div>
</div>

</body>
</html>